h1{
  color: white; 
  background-color: slategray;
  text-align: center;
  font-family: helvetica;
}
p{
  font-family: helvetica;
}

h2{
  font-family: helvetica;
  
}

li{
  font-family: helvetica;
}
