.banner{
 position: relative;
}

.banner img{
 max-width: 100%;
}
.banner .welcome{
 position: absolute;
 left: 0;
 top: 30%;
 background-color: black;
 color: white;
 padding: 22px;
}
.banner h2{
 font-size: 74px;
}

header{
 background-color: black;
 color: white;
 padding: 22px;
 text-align: center;
 position: fixed;
 width: 100%;
 z-index: 1;
 top: 0;
 left: 0;
 
}

nav{
 bacground-color: #F4F4F4;
 padding: 20px;
}
nav ul{
 white-space: nowrap;
}
nav li{
 width: 20%;
 display: inline-block;
 font-size: 22px;
}
